In [1]:
import numpy as np
import pandas as pd

In [3]:
a = np.random.binomial(1,0.3,size=(26,4))
a

array([[0, 0, 1, 0],
       [0, 1, 0, 1],
       [0, 1, 0, 1],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 1],
       [0, 0, 0, 1],
       [1, 0, 0, 1],
       [0, 0, 0, 1],
       [1, 0, 0, 1],
       [1, 1, 1, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 0],
       [1, 1, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 0],
       [1, 1, 1, 0],
       [0, 0, 0, 0],
       [0, 1, 1, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [5]:
b = a[a>0.5]
b

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [6]:
letter = [chr(i) for i in range(97,123)]
df = pd.DataFrame(a,index=letter,columns=['one','two','three','four'])
df

   one  two  three  four
a    0    0      1     0
b    0    1      0     1
c    0    1      0     1
d    0    0      1     0
e    1    0      0     0
f    0    1      0     0
g    0    0      0     1
h    1    0      0     1
i    0    0      0     1
j    1    0      0     1
k    0    0      0     1
l    1    0      0     1
m    1    1      1     0
n    0    0      0     0
o    0    1      0     0
p    0    0      0     0
q    1    1      0     0
r    1    0      0     0
s    1    0      0     0
t    0    0      0     0
u    0    1      0     0
v    1    1      1     0
w    0    0      0     0
x    0    1      1     0
y    0    0      0     0
z    0    0      0     0

In [7]:
topFive = df.sort_values(['two'],ascending=False).head(5)
topFive

   one  two  three  four
q    1    1      0     0
c    0    1      0     1
x    0    1      1     0
f    0    1      0     0
v    1    1      1     0

In [8]:
one = df['one']

In [9]:
one.sum()

9

In [10]:
one.median()

0.0

In [11]:
one.var()

0.23538461538461533